In [2]:
import pandas as pd
d={
    "sno":[1,2,3,4,5],
     "Name":["Priya","Jyothi","Siri","Laxmi","pragya"],
     "marks":[90,35,20,85,54],
     "age":[10,11,11,11,11]
    }

In [3]:
df=pd.DataFrame(d)
df

   sno    Name  marks  age
0    1   Priya     90   10
1    2  Jyothi     35   11
2    3    Siri     20   11
3    4   Laxmi     85   11
4    5  pragya     54   11

In [8]:
df[df['marks'==90]][]
print('Rank A')

Rank A

In [11]:
a=df['marks'].sort_values(ascending=False)
a

0    90
3    85
4    54
1    35
2    20
Name: marks, dtype: int64

In [ ]:
d['Rank']=df['marks']