In [10]:
l=[1,2,3,4,5,6,7,8,9]
b=list(filter(lambda a:(a%2==0),l))
b

[2, 4, 6, 8]

In [16]:
l=["jyothirmayi","priya","siri","pragya","anu"]
b=list(filter(lambda str:(len(str)>=5),l))
b

['jyothirmayi', 'priya', 'pragya']

In [18]:
l=[1,2,3,4,5,6,7,8,9]
b=list(map(lambda a:(a+50),l))
b

[51, 52, 53, 54, 55, 56, 57, 58, 59]

In [19]:
import random

In [27]:
def gen():
    yield 3
    yield 4
    yield 3
    yield 2
    yield 1
for i in gen():
    print(i)

3
4
3
2
1

In [28]:
with open("filename","w") as file:
    file.write("jyothi")

In [31]:
with open("filename","a") as file:
    print(file.write("priya"))

5

In [43]:
with open("numbers","w") as fl:
    for i in range(0,50):
        print(random.randint(0,50))

22
3
21
28
8
48
12
48
24
50
0
24
0
29
4
47
47
11
40
8
3
37
15
26
44
26
46
33
31
41
48
38
30
30
3
42
23
16
6
28
12
18
46
17
43
19
31
2
36
37

In [46]:
   with open("number","w") as fl:
    for i in range(0,50):
        fl.write(str(random.randint(0,50)))
        fl.write("\n")

In [ ]:
with open("prime","w") as f1:
    for i in range()

In [1]:
l=[1,2,3,4,5]
l=[j**2 for j in l]
l

[1, 4, 9, 16, 25]

In [5]:
l1=[1,2,3,4,5,6,7,8,9]
l1=[i for i in l1 if i%2!=0]
l1

[1, 3, 5, 7, 9]

In [11]:
l2=[1,2,3,"jyo","priya",4,5]
l2=[j for j in l2 if type(j)==int]
l2

[1, 2, 3, 4, 5]

In [15]:
l3=["ravi","rama","jyo","siri","rahul"]
l3=[i for i in l3 if i[0]=="r"]
l3

['ravi', 'rama', 'rahul']

In [20]:
l=[i for i in range(100) if i%2==0 or i%5==0 or sum(l)]
l

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [18]:
sum(l)

2950

In [19]:
min(l)

0

In [21]:
max(l)

99

In [22]:
l1=[1,2,3]
l2=[4,5,6]
l3=[(i,j) for i in l1 for j in l2]
l3

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [23]:
f=lambda x:bool(x%2)
print(f(20),f(21))

False True

In [31]:
l=[1,2,3,4,5]
l={i:i**2 for i in l}
l

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

[('b', 20), ('s', 9)]

In [39]:
import calendar
c=calendar.month(2019,11)
print(c)

   November 2019
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

In [42]:
import calendar
c=calendar.calendar(2019)
print(c)

                                  2019

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [43]:
import datetime

In [44]:
c=datetime.datetime.now()
print(c)

2019-11-04 11:45:38.943113

In [47]:
import numpy as np
l=[1,2,3]
l2=[4,5,6]
n1=np.array(l)
n2=np.array(l2)
print(n1+n2)

[5 7 9]

In [48]:
import pandas as p

In [75]:
d={
    "sno":[1,2,3,4,5],
    "name":["a","b","c","d","e"],
    "marks":[20,30,46,10,33]
}

In [76]:
s=p.DataFrame(d)

In [77]:
s

   sno name  marks
0    1    a     20
1    2    b     30
2    3    c     46
3    4    d     10
4    5    e     33

In [81]:
s.iloc[2:]

   sno name  marks
2    3    c     46
3    4    d     10
4    5    e     33

In [85]:
a=s.loc[s.marks<=35]

In [86]:
a

   sno name  marks
0    1    a     20
1    2    b     30
3    4    d     10
4    5    e     33

In [92]:
s[["sno","name"]][s.marks<=35]

   sno name
0    1    a
1    2    b
3    4    d
4    5    e