In [ ]:
for i in range(1,10):
    print(i)

In [3]:
a=int(input())
if a%2==0:
    print("even")
else:
    print("odd")

5
odd

In [4]:
def factorial(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    print("factorial",f)
n=int(input())
factorial(n)

5
factorial 120

In [22]:
l=[1,2,3,4,5,6,7,8,9,10]
s=[]
t=l[::-1]
for i in l:
    if i%2==0:
        s.append(i)
    else:
        t.append(i)
print(s+t)

[2, 4, 6, 8, 10, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 1, 3, 5, 7, 9]

In [46]:
l=[1,2,3,4,5]
l2=[5,65,8,7,0]
a=[] 
for i in l:
    for j in l2:
        if i==j:
            a.append(j)
print(a)

[5]

In [31]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [28]:
import pandas as pd
import numpy as np

In [29]:
names=["lion","cat","dog","tiger"]

In [30]:
pd.Series(names)

0     lion
1      cat
2      dog
3    tiger
dtype: object

In [31]:
a=pd.Series(names,index=[1,2,3,4])
a

1     lion
2      cat
3      dog
4    tiger
dtype: object

In [32]:
a.index

Int64Index([1, 2, 3, 4], dtype='int64')

In [33]:
a[1]

'lion'

In [47]:
d={
    'Name':["sai","ram","laxmi"],
    "branch":["cse","it","eee"],
    "marks":[78,np.nan,'NaN']
    
}
d

{'Name': ['sai', 'ram', 'laxmi'],
 'branch': ['cse', 'it', 'eee'],
 'marks': [78, nan, 'NaN']}

In [48]:
df=pd.DataFrame(d)
df

    Name branch marks
0    sai    cse    78
1    ram     it   NaN
2  laxmi    eee   NaN

In [49]:
df.isnull()

    Name  branch  marks
0  False   False  False
1  False   False   True
2  False   False  False

In [50]:
a=df[["branch","marks"]][1:]
a

  branch marks
1     it   NaN
2    eee   NaN

In [2]:
number=int(input())
for i in range(1,number+1):
        print(str(i).rjust(len(bin(number)[2:])," "),
              oct(i)[2:].rjust(len(bin(number)[2:])," "),
              hex(i)[2:].rjust(len(bin(number)[2:])," ").upper(),
              bin(i)[2:].rjust(len(bin(number)[2:])," "))

17
    1     1     1     1
    2     2     2    10
    3     3     3    11
    4     4     4   100
    5     5     5   101
    6     6     6   110
    7     7     7   111
    8    10     8  1000
    9    11     9  1001
   10    12     A  1010
   11    13     B  1011
   12    14     C  1100
   13    15     D  1101
   14    16     E  1110
   15    17     F  1111
   16    20    10 10000
   17    21    11 10001

In [1]:
number=int(input())
for i in range(1,number+1):
        print(str(i),
              oct(i)[2:],
              hex(i)[2:],
              bin(i)[2:])

17
1 1 1 1
2 2 2 10
3 3 3 11
4 4 4 100
5 5 5 101
6 6 6 110
7 7 7 111
8 10 8 1000
9 11 9 1001
10 12 a 1010
11 13 b 1011
12 14 c 1100
13 15 d 1101
14 16 e 1110
15 17 f 1111
16 20 10 10000
17 21 11 10001